<div class="share-btns d-flex align-items-center justify-content-center justify-content-lg-end">
  <button class="share-btn mx-1"><img src="assets/images/share.png" alt="share" width="20" class="img-fluid"> <span
    class="mx-2">شارك</span></button>
  <button class="share-btn mx-1"><img src="assets/images/twitter.png" alt="share" width="20" class="img-fluid">
  </button>
  <button class="share-btn mx-1"><img src="assets/images/facebook-app-logo.png" alt="share" width="20"
                                      class="img-fluid"></button>
  <button class="share-btn mx-1"><img src="assets/images/linkedin.png" alt="share" width="20" class="img-fluid">
  </button>
  <button class="share-btn mx-1"><img src="assets/images/email.png" alt="share" class="img-fluid"></button>
</div>
