<app-header></app-header>
<app-page-header [bg]="'assets/images/banner-innerpage.jpg'" [title]="'الاخبار'"></app-page-header>
<div class="news-wrapper">
  <div class="container">
    <app-share></app-share>
    <div class="news-list mb-5">
      <ng-container *ngFor="let x of ['', '', '']">
        <app-news-card></app-news-card>
      </ng-container>
    </div>

    <nav class="mb-5">
      <ul class="pagination justify-content-center p-0 ">
        <li class="page-item mx-1"><a class="page-link" >1</a></li>
        <li class="page-item mx-1"><a class="page-link active">2</a></li>
        <li class="page-item mx-1 "><a class="page-link " >3</a></li>
        <li class="page-item mx-1"><a class="page-link" >4</a></li>
        <li class="page-item mx-1"><a class="page-link" >5</a></li>
      </ul>
    </nav>

  </div>
</div>

<app-footer></app-footer>
