<nav [ngClass]="{'ar': isArabic(), 'en': !isArabic(), 'home': home, 'more-than-200': moreThan200}" class="sticky-top">
  <div class="tgs-container">
    <div class="d-flex justify-content-between">
      <a routerLink="/" class="brand-logo d-flex align-items-center text-decoration-none">
        <img src="assets/images/logo{{(home && !moreThan200) && window.innerWidth >= 1200 ? '-white': ''}}.png" alt="logo" class="img-fluid">
      </a>
      <div class="links flex-grow-1">
        <div class="top-links">
          <ul class="d-flex list-unstyled align-items-center justify-content-end p-0 mb-2 flex-wrap">
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.jobs' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.contact' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.specialized links' | translate}}</a>
            </li>
            <li class="list-item"><a class="link text-decoration-none text-white text-capitalize fw-bold"
                                     (click)="languageService?.direction === 'rtl' ? setEnglish() : setArabic()">{{'header.lang' | translate}}</a>
            </li>
            <li class="list-item"><a class="link text-decoration-none text-white text-capitalize line"></a></li>
            <li class="list-item"><a class="link text-decoration-none text-white text-capitalize"><img
              [src]="home && !moreThan200 ? 'assets/images/search-home.png': 'assets/images/search.png'" alt="search"></a></li>
          </ul>
          <ul class="d-flex list-unstyled align-items-center justify-content-xl-around mb-0 p-0 flex-wrap">
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.about' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.safety' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.quality' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.fields' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.clients' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.media' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.hr' | translate}}</a></li>
            <li class="list-item"><a
              class="link text-decoration-none text-white text-capitalize">{{'header.blog' | translate}}</a></li>
          </ul>
        </div>
      </div>

      <div class="menu-toggle d-xl-none d-flex align-items-center justify-content-center">
        <button class=" icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
          <img src="assets/images/menu.png" alt="menu-toggle" class="img-fluid">
        </button>
      </div>

    </div>

  </div>
</nav>




<div class="offcanvas" [ngClass]="{'offcanvas-end': isArabic(), 'offcanvas-start': !isArabic()}" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class=" d-flex align-items-center">
    <a routerLink="/" class="brand-logo d-flex align-items-center text-decoration-none">
      <img src="assets/images/logo.png" alt="logo" class="img-fluid">
    </a>
    <button type="button" class="btn-close text-reset  p-4" [ngClass]="{'me-auto': isArabic(), 'ms-auto': !isArabic()}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled d-flex p-0 flex-column">
      <li class="list-item mb-2"><a class="item">من نحن</a></li>
      <li class="list-item mb-2"><a class="item">السلامة والصحة المهينة</a></li>
      <li class="list-item mb-2"><a class="item">ادارة الجودة المتكالمة</a></li>
      <li class="list-item mb-2"><a class="item">مجالات العمل الشركة</a></li>
      <li class="list-item mb-2"><a class="item">العملاء</a></li>
      <li class="list-item mb-2"><a class="item">الاعلام</a></li>
      <li class="list-item mb-2"><a class="item">تنمية الموارد البشرية</a></li>
      <li class="list-item mb-2"><a class="item">مدونة السلوك الوظيفي</a></li>
      <li class="list-item mb-2"><a class="item">وظائف</a></li>
      <li class="list-item mb-2"><a class="item">الاتصال بنا</a></li>
      <li class="list-item mb-2"><a class="item">روابط مخصصه</a></li>
      <li class="list-item mb-2 d-flex align-items-center justify-content-around">
        <a class="item fw-bold"
           (click)="languageService?.direction === 'rtl' ? setEnglish() : setArabic()">{{'header.lang' | translate}}</a>
        <a class="item line"></a>
        <a class="item"><img
          src="assets/images/search.png" alt="search"></a>
      </li>

    </ul>
  </div>
</div>
