<app-header [home]="true"></app-header>
<div class="home-wrapper" [ngClass]="{'ar': isArabic(), 'en': !isArabic()}">
  <!--  Start Header -->
  <div class="header">
    <div class="layer d-flex flex-column align-items-center justify-content-center">
      <div class="mb-4">
        <img src="assets/images/play-button.png" alt="play" class="play">
      </div>
      <div class="w-50 mx-auto mb-4" data-aos="fade-up" data-aos-once="true">
        <h2 class="header-title text-center fw-bold">نقوم بتشغيل وصيانة منشآت الغاز الطبيعي ومشاريع الطاقة وفقا
          لأحدث
          المعايير ولمواصفات الفنية العالمية</h2>
      </div>
      <div class="read-more" data-aos="fade-up">
        <a class="header-btn" (click)="scrollToElement(target)">اقرأ المزيد</a>
      </div>
    </div>
  </div>
  <!--  End Header -->

  <!--  Start About Us -->
  <div class="about-us" #target>
    <div class="tgs-container">
      <div class="section-head">
        <h2 class="title text-center fw-bold" data-aos="fade">من نحن <sup><img src="assets/images/symbol.png" alt="symbol"
                                                               class="symbol"></sup></h2>
      </div>
      <div class="content">
        <p class="about-text text-center px-0 px-lg-5 mb-5" data-aos="fade">تأسست الشركة الفنية لخدمات تشغيل خطوط الغاز في عام 2018
          كشركة ذات مسؤولية محدودة بموجب
          قانون الشركات الأردني وتعديلاته .حيث تعمل الشركة علي تشغيل وصيانة منشآت الغاز الطبيعي ومشاريع الطاقة وفقا
          لأحدث المعايير والمواصفات الفنية العالمية وتتكون شركة TGS وفريق العمل بها من ائتلاف شركات قطاع البترول المصري
          (شركة فجر الأردنية المصرية،شركة فجر المصرية،الشركة المصرية للغازات الطبيعية جاسكو) وبدأت الشركة في تشغيل
          وصيانة خط الغاز العربي 36" وتسهيلاته في 1 مارس 2019 كما تعمل الشركة علي نقل الخبرات المصرية في مجالات الغاز
          الطبيعي ، النفط والطاقة إلي الكوادر البشرية الأردنية.</p>
        <div class="read-more text-center"  data-aos="fade">
          <button class="header-btn">اقرأ المزيد</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End About Us -->

  <!--  Start thumbnails -->
  <div class="thumbnails">
    <div class="row boxes gx-0">
      <div class="col-lg-6 d-flex align-items-center thumbnail n1">
        <div class="box" [attr.data-aos]="isArabic() ? 'fade-left' : 'fade-right'">
          <h2 class="thumbnail-title">إدارة الجودة المتكاملة <sup><img src="assets/images/symbol.png" alt="symbol"
                                                                       class="symbol img-fluid"></sup></h2>
          <p class="about-text fw-bold mb-0">سياسة الجودة والسلامة والصحة المهنية وحماية البيئة</p>
          <p class="about-text mb-0">الشركة الفنية لخدمات تشغيل خطوط الغاز تقوم بأعمال صيانة وتشغيل خطوط الغاز
            ومشاريع الطاقة وتتعهد الشركة بتطبيق المنظومة الإدارية المتكاملة والتي تتطابق مع المواصفات القياسية</p>
          <p class="about-text fw-bold mb-0 color-blue">ISO 45001:2018</p>
        </div>
      </div>

      <div class="col-lg-6 thumbnail n2">
        <div>
          <img src="assets/images/pics1.jpg" alt="image" class="w-100 h-auto">
        </div>
      </div>

      <div class="col-lg-6 thumbnail n3">
        <div>
          <img src="assets/images/pics2.jpg" alt="image" class="w-100 h-auto">
        </div>
      </div>

      <div class="col-lg-6 thumbnail d-flex align-items-center n4">
        <div class="box" [attr.data-aos]="isArabic() ? 'fade-right' : 'fade-left'">
          <h2 class="thumbnail-title">السلامة والصحة المهنية وحماية البيئة <sup><img src="assets/images/symbol.png"
                                                                                     alt="symbol"
                                                                                     class="symbol img-fluid"></sup>
          </h2>

          <!--           List-->
          <div class="d-flex align-items-center justify-content-start list mb-2">
            <div class="align-self-start">
              <img src="assets/images/bullet.png" class="mt-2" alt="bullet" width="8">
            </div>
            <p class="about-text mb-0">مراقبة الاثار السلبية للمؤثرات البيئية الناتجة عن أنشطة الشركة وآثارها والحد من
              تأثيرها</p>

          </div>

          <div class="d-flex align-items-center justify-content-start list mb-2">
            <div class="align-self-start">
              <img src="assets/images/bullet.png" class="mt-2" alt="bullet" width="8">
            </div>
            <p class="about-text mb-0">مراقبة أداء السلامة والصحة المهنية من خلال الاحصائيات الدورية الدالة علي ذلك</p>

          </div>

          <div class="d-flex align-items-center justify-content-start list mb-2">
            <div class="align-self-start">
              <img src="assets/images/bullet.png" class="mt-2" alt="bullet" width="8">
            </div>
            <p class="about-text mb-0">تولي الشركة الفنية لخدمات تشغيل خطوط الغاز اهتماما كبيراً للسلامة</p>

          </div>

        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center thumbnail n5">
        <div class="box" [attr.data-aos]="isArabic() ? 'fade-left' : 'fade-right'">
          <h2 class="thumbnail-title">إدارة الجودة المتكاملة <sup><img src="assets/images/symbol.png" alt="symbol"
                                                                       class="symbol img-fluid"></sup></h2>
          <p class="about-text fw-bold mb-0">سياسة الجودة والسلامة والصحة المهنية وحماية البيئة</p>
          <p class="about-text mb-0">الشركة الفنية لخدمات تشغيل خطوط الغاز تقوم بأعمال صيانة وتشغيل خطوط الغاز
            ومشاريع الطاقة وتتعهد الشركة بتطبيق المنظومة الإدارية المتكاملة والتي تتطابق مع المواصفات القياسية</p>
          <p class="about-text fw-bold mb-0 color-blue">ISO 45001:2018</p>
        </div>
      </div>

      <div class="col-lg-6 thumbnail n6">
        <div>
          <img src="assets/images/pics3.jpg" alt="image" class="w-100 h-auto">
        </div>
      </div>

      <div class="col-lg-6 thumbnail n7">
        <div>
          <img src="assets/images/pics4.jpg" alt="image" class="w-100 h-auto">
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center thumbnail n8">
        <div class="box" [attr.data-aos]="isArabic() ? 'fade-right' : 'fade-left'">
          <h2 class="thumbnail-title">إدارة الجودة المتكاملة <sup><img src="assets/images/symbol.png" alt="symbol"
                                                                       class="symbol img-fluid"></sup></h2>
          <p class="about-text mb-4">تأسست الشركة الفنية لخدمات تشغيل خطوط الغاز في عام 2018 كشركة ذات مسؤولية محدودة
            بموجب قانون الشركات الأردني وتعديلاته .حيث تعمل الشركة علي تشغيل وصيانة منشآت الغاز الطبيعي ومشاريع الطاقة
            وفقا لأحدث المعايير والمواصفات الفنية العالمية وتتكون شركة TGS وفريق العمل بها من ائتلاف شركات قطاع البترول
            المصري (شركة فجر الأردنية المصرية</p>
          <div class="read-more">
            <button class="header-btn">اقرأ المزيد</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--  End Section 3 -->

<!--  Start partners -->
  <div class="partners">
    <div class="container">
      <div class="section-head">
        <h2 class="title text-center fw-bold" data-aos="fade-up">شركاء العمل <sup><img src="assets/images/symbol.png" alt="symbol"
                                                               class="symbol"></sup></h2>

        <div class="row">
          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo6.png" alt="partner">
          </div>

          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo5.png" alt="partner">
          </div>

          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo4.png" alt="partner">
          </div>

          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo3.png" alt="partner">
          </div>

          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo2.png" alt="partner">
          </div>

          <div class="col-lg-2 text-center mb-3 col-6">
            <img class="" src="assets/images/partner-logo1.png" alt="partner">
          </div>

        </div>
      </div>
    </div>
  </div>
<!--  End partners -->

</div>

<app-footer></app-footer>
