<app-header></app-header>
<app-page-header [bg]="'assets/images/banner-innerpage.jpg'" [title]="'الاخبار'"></app-page-header>

<div class="container">
  <app-share></app-share>

  <div class="news-details">
    <h2 class="news-title mb-4">توقيع اتفاقيت تفاهم مع شركة دوت جو توقيع اتفاقيت تفاهم مع شركة دوت جو…</h2>
    <div class="row">
      <div class="col-lg-7 mb-3 mb-lg-0 d-flex justify-content-around flex-column order-1 order-lg-0">
        <div class="details">
          <div class="news-date mb-3">
            <span>01-29-2020</span>
          </div>
          <p class="news-text">
            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
            أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
            -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها
            نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن
            النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على
            مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض
            العبارات الفكاهية إليها.
          </p>
        </div>
      </div>
      <div class="col-lg-5 mb-3 mb-lg-0 order-0 order-lg-1">
        <div>
          <img src="assets/images/news.jpg" alt="news-inner-image" class="news-image">

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
