<footer>
  <div class="tgs-container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-3 mb-lg-0">
        <div class="list">
          <h5 class="list-title">خريطة الموقع</h5>
          <ul class="list-unstyled d-flex flex-column p-0">
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white" routerLink="/">الرئيسية</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">الخدمات الهندسية</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white"> خدمات التوريدات والمشتريات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">إدارة المشروعات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">إدارة الإنشاءات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">خدمات تجارب وبدء التشغيل</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3 mb-lg-0">
        <div class="list">
          <h5 class="list-title">خريطة الموقع</h5>
          <ul class="list-unstyled d-flex flex-column p-0">
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white" routerLink="/news">الاخبار</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">الخدمات الهندسية</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white"> خدمات التوريدات والمشتريات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">إدارة المشروعات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">إدارة الإنشاءات</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">خدمات تجارب وبدء التشغيل</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 mb-3 mb-lg-0">
        <div class="list">
          <h5 class="list-title">تواصل معنا</h5>
          <ul class="list-unstyled d-flex flex-column p-0">
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">اتصل بنا</a></li>
            <li class="list-item fw-bold"><a class="item text-decoration-none text-white">تسجيل شكوي</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="list">
          <h5 class="list-title">اشتراك</h5>
          <form class="form">
            <div class="input-with-mask d-flex align-items-center row">
              <input class="npt col" type="email" placeholder="الايميل">
              <span class="mask col-auto">
                <img src="assets/images/{{ isArabic() ? 'left': 'right'}}-chevron.png" alt="next" class="" width="25">
              </span>
            </div>
            <span class="hint">لن نشارك أبدًا عنوان بريدك الإلكتروني مع طرف ثالث.</span>
          </form>
        </div>
      </div>

    </div>
  </div>
</footer>
