$color-green: #20A950;
$color-blue: #0E5BA3;
$color-dimmed: #202020;
$color-gray: #3E3E3E;
$color-gray-1: #9F9F9F;
$color-gray-2: #D8D8D8;
$color-gray-3: #FCFCFD;
$color-gray-4: #F7F7F7;
$color-gray-5: #FBFBFB
